body {
    margin: 0;
    padding: 20px;
    color: #141414;
    background-color: #fff;
    font-family: Outfit, Lato,sans-serif;
    font-size: 1rem;
}

section {
    max-width: 1200px;
    margin: auto; 
    background-color: #fff;
    padding: 0 1vw;
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header, footer {
    padding: 10px 10px;
    text-transform: uppercase;
}

.logo {
    font-size: 2rem;
}

footer {
    background-color: #f9f4da;
}

.mailto {
    margin: 20px;
}

footer a, header a {
    color: #141414;
    margin-bottom: 5px;
    margin-right: 10px;
    display: block;
}

.container_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

h1, h2, h3, .logo {
    font-family: 'Paytone One', Lato, sans-serif;
}

h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

.welcome {
    font-size: 3.6rem;
    font-weight: 900;
    margin-bottom: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

h2 {
    font-size: 2.3rem;
    margin: 0 auto;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

a {text-decoration: none; color: #141414;}

header img {
   margin-left: 10px;
}

.first_section {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 300px;
    padding-top: 20px;

}

#main_first_part {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation_title, .technologies_title {
    display: block;
    margin-bottom: 10px;
}

.technologies {
    font-size: 0.85rem;
    font-weight: bold;
    font-family: ui-monospace;
}

.technologies_title{
    text-decoration: underline;
    font-size: 1rem; 
}

/* PROJETS */
.second_section {
    text-align: center;
    margin: 30px auto;
}

.work {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
}

.project {
    width: 35%;
    margin: 10px auto;
}

.project_title {
    display: none;
}

.project_title_mobile {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
}

.project_image {
    width: 44%;
}


/* DRAGGABLE */
.draggable.dragging {
    opacity: 1;
}

#competences {
    display: flex;
    position: relative;
    /* height: 30vh; */
    width: 55%;
}

.draggable {
    cursor: grab;
    font-weight: 500;
    left: 20%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    position: absolute;
    border: #333 2px solid;
    width: 28%;
    height: 75%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #000;
    touch-action: pan-x;
}

.draggable p {
    font-size: 0.9rem;
}

.draggable img {
    width: 40%;
}

.react {
    color: #141414;
    background: #7B5EA7;
}

.javascript {
    background-color: #E6403B;
}

.typescript_logo{
    background: #61DBFB;
    color: #141414;
}

.techno {
    margin: 1vh auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 5vh;
}

.techno img {
    width: 2vw;
}

.go_to_website {
    text-align: center;
    height: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
    margin-top: 10px;
}

.project_summary {
    font-weight: 600;
    color: #333;
}

.tsc .project_image {
    width: 100%;
}

/* MOBILE */
@media (min-width: 469px) and (max-width: 769px){
    .first_section {
        align-items: center;
    }
}

@media (max-width: 769px){
    header img {
        width: 8vw;
        margin: 1Opx;
    }

    .logo {
        font-size: 35px;
        display: flex;
        align-items: end;
    }
    
    .first_section {
        flex-direction: column;
    }
    
    #competences {
        height: 30vh;
        font-size: 1.2rem;
    }

   .go_to_website {
        opacity: 1;
        margin-top: 5px;
        background-color: #fff;
    }

    .project {
        width: 45%;
    }
    
    #main_first_part {
        width: 100%;
        margin-bottom: 30px;
    }

    .techno img {
        width: 15vw;
    }
} 

/* MOBILE MAX 425---------------- */
@media (max-width: 425px){
    h1 {
        font-size: 1.5rem;
    }

    h2 {font-size: 2.2rem;}

    h3 {font-size: 1.6rem}

    .logo {
        font-size: 20px;
    }

    #main_first_part {
        text-align: center;
        font-size: 1.3rem;
        
    }

    #competences {
        margin: 10px;
    }

    .draggable {
        width: 45%;
        font-size: 12px;
    }

    .inline-flex img{
        width: 10px;
    }

    .work {
        flex-direction: column;
        margin: 10px 10px;
    }

    .project {
        width: 100%;
    }

    .tsc .project_image {
        width: 100%;
    }

    .project_summary {
        font-weight: 400;
        /* color: #f9f4da; */
    }
}

@media (max-height: 375px) {
    #competences {
        height: 65vh;
    }
    
}
/* END MOBILE------------------------------ */

/* BUTTON */
.go_to_website_button {
    position: relative;
    bottom: 0%;
    margin: 10px auto;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: #F6B933;
    box-shadow: 0 6px #333;
    opacity: 1;
    cursor: pointer;
}

button {
    display: block;
    padding: 10px 60px;
    font-size: 1.2rem;
    border-radius: 45px;
    font-weight: bold;
    border: 1px solid #000;
}

.go_to_website_button a{ font-weight: 600;}

.go_to_website_button:hover {
    box-shadow: 0 4px;
    top: 4px;
}

.go_to_website_button:active {
    box-shadow: 0 0;
    top: 6px;
}

/* END BUTTON */
.github, .linkedin {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.go_to_website:hover {
    opacity: 0.95;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.go_to_website h3{
    text-align: center;
}

.decoration {
    font-style: italic;
    text-decoration: underline;
}

.inline-flex {
    display: inline-flex;
    margin-top: 5px;
}

/* @media (min-width: 769px){ 
    .first_section {
        display: flex;
    }
} */
.image_site {
    height: 45;
    margin: 0 auto;
}
@media (min-width: 1024px){
    .presentation {
        top: 50%;
        font-size: 2.1rem;
    }

    .project {
        height: 450px;
    }

    .project_title_mobile {
        display: none;
    }

    .project_title {
        display: block;
    }

    .image_site {
        height: 400px;
        margin: 0 auto;
    }

    .first_section {
        margin-bottom: 25vh;
        margin-top: 10vh;
        height: 50vh;
    }

    #competences {
        height: 67vh;
    }

    .go_to_website {
        transform: translateY(-97%);
        height: 420px;
        width: 100%;
        padding: 10px 10px;
        opacity: 0;
        background-color: #f9f4da;
    }
}