body {
    margin: 0;
    padding: 0;
    color: #f9f4da;
    background-color: #141414;
    font-family: Outfit, Lato,sans-serif;
    ;
}

h1, h2, h3, .logo {
    font-family: 'Paytone One', Lato, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
}

a {text-decoration: none; color: #141414;}

.logo {
    font-size: 35px;
}

section{max-width: 1400px; margin: auto; 
    /* background-color: red; */
}

footer {
    background-color: #231F20;
    margin: auto;
    padding: 10px 10px;
}

footer a, header a {
    color: #f9f4da;
    margin-bottom: 5px;
    margin-right: 10px;
    display: block;
}

.container_link {
    display: flex;
    justify-content: space-between;
}

header {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

header img {
   margin-left: 10px;
}

.main_section {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    max-height: 600px;
    /* background: blue; */
}

#main_first_part {
    width: 45%;
    height: 100%;
    /* background: green; */
}
/* DRAGGABLE */
.draggable.dragging {
    opacity: 1;
}

#competences {
    display: flex;
    position: relative;
    width: 55%;
    /* height: 80vh; */
    align-items: center;
    justify-content: space-evenly;
    /* background-color: purple; */
}

.draggable {
    cursor: grab;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    position: absolute;
    border: #333 2px solid;
    width: 40%;
    height: 80%;
    max-height: 450px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px #000;
    touch-action: pan-x;
}
.react {
    color: #141414;
    background: #7B5EA7;
}

.javascript {
    background-color: #E6403B;
}

.typescript_logo{
    background: #61DBFB;
    color: #141414;
}

.draggable img {
    width: 40%;
}
/* PROJETS */
.second_section {
    text-align: center;
    /* background-color: aqua; */
}

.work {
    margin: 10vh auto;
    padding: 10px 20px;
    display: flex;
}

.project {
    width: 35%;
    margin: 10px auto;
    padding-top: 5px;
}

.project_image {
    width: 44%;
}

.techno {
    margin: 1vh auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 5vh;
}

.techno img {
    width: 2vw;
}

.go_to_website {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #333;
    background-color: #f9f4da;
    opacity: 0;
}

.project_summary {
    font-weight: 600;
    color: #333;
}

.tsc .project_image {
    width: 100%;
}

/* MOBILE */
@media (max-width: 768px){
    header img {
        width: 10vw;
        margin-right: 1vw;
        margin-left: 1vw;
    }

    .logo {
        font-size: 35px;
        display: flex;
        align-items: end;
    }
    
    .main_section {
        flex-direction: column;
    }
    
    #competences {
        height: 50vh;
        margin: 10px auto;
        justify-content: center;
        font-size: 1.2rem;
    }

    .draggable {
        height: 70%;
    }

    .go_to_website {
        color: #f9f4da; 
        background-color: #141414;
        opacity: 1;
        margin-top: 5px;
    }

    .project {
        width: 45%;
    }
    
    #main_first_part {
        width: 100%;
    }

} 

/* MOBILE MAX 425---------------- */
@media (max-width: 425px){
    h1 {
        font-size: 2.4rem;
        margin-bottom: 2px;
        letter-spacing: 1px;
    }

    h2 {font-size: 2.2rem;}

    h3 {font-size: 1.8rem}

    .logo {
        font-size: 20px;
    }

    #main_first_part {
        text-align: center;
        font-size: 1.3rem;
    }

    #competences {
        margin: 10px;
    }

    .draggable {
        width: 60%;
    }

    .work {
        flex-direction: column;
        margin: 10px 10px;
    }

    .project {
        width: 100%;
    }

    .techno img {
        width: 25vw;
    }

    .go_to_website {
        color: #f9f4da;
        background-color: #141414;
        opacity: 1;
        margin-top: 20px;
    }

    .tsc .project_image {
        width: 100%;
    }

    .project_summary {
        font-weight: 400;
        color: #f9f4da;
    }
}
/* END MOBILE------------------------------ */




/* BUTTON */
.go_to_site_button {
    position: relative;
    margin: 10px auto;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: #F6B933;
    box-shadow: 0 6px #333;
    opacity: 1;
    cursor: pointer;
}

.presentation_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-transform: uppercase;
    background-color: #F6B933;
}

button {
    display: block;
    padding: 10px 60px;
    font-size: 1.2rem;
    border-radius: 45px;
    font-weight: bold;
    border: 1px solid #000;
}

.go_to_site_button a{ font-weight: 600;}

.go_to_site_button:hover {
    box-shadow: 0 4px;
    top: 4px;
}

.go_to_site_button:active {
    box-shadow: 0 0;
    top: 6px;
}

/* END BUTTON */
.github, .linkedin {
    margin-top: 1vw;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.mailto::before {
    content: url("./assets/email.webp");
    margin-right: 1vw;
}


.gitLink:before {
    content:url("./assets/github.svg");
    margin-right: 1vw;
}
.LinkedinLink:before {
    content:url("./assets/linkedin.png");
    margin-right: 1vw;
    
} 

.go_to_website:hover {
    opacity: 0.9;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.go_to_website h3{
    text-align: center;
}

.decoration {
    font-style: italic;
    text-decoration: underline;
}

.copyright {
    text-align: center;
}

.inline-flex {
    display: inline-flex;
    margin-top: 5px;
}

@media (min-width: 768px){ 
    .main_section {
        display: flex;
        /* flex-direction: column; */
    }
}

@media (min-width: 1024px){
    .presentation {
        top: 50%;
        font-size: 2.1rem;
    }

    .project {
        height: 450px;
    }

    .image_site {
        height: 400px;
        margin: 0 auto;
    }

    .main_section {
        margin-bottom: 25vh;
        margin-top: 10vh;
        height: 50vh;
    }

    #competences {
        height: 67vh;
    }

    .go_to_website {
        transform: translateY(-97%);
        position: absolute;
        height: 420px;
        padding: 10px 10px;
    }
    
}